@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to left, #F25C05, #F27405);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6d3403b4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8C0343;
    text-align: center;
    text-shadow: 1px 1px 2px #500226;
}

h2 {
    color: #A6035D;
}

p {
    text-align: justify;
}